<div class="container-fluid">
    <h2>Change Your Password</h2>
    <form #passwordForm="ngForm" (ngSubmit)="this.resetPassword()">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input class="form-control" type="password" name="oldPassword" placeholder="enter your old password" 
          [(ngModel)]="this.model.oldPassword" required>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input class="form-control" type="password" [(ngModel)]="this.model.password"  name="password"
          placeholder="enter your password" required>

      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input class="form-control" type="password" [(ngModel)]="model.confirmPassword" name="confirmPassword"
          placeholder="enter your confirm password" required>
      </div>
    <button [disabled]="!passwordForm.valid" class="btn btn-primary" type="submit " class="btn btn-primary" type="submit" >Submit</button>
    </form>
  </div>