<div class="container">
<form #registerForm="ngForm" (ngSubmit)="login()">
    <h2 class="text-center text-primary">Sign In</h2>
    <hr>
    <div class="form-group">
      <input type="text" class="form-control" required name="username" [(ngModel)]="this.model.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" required name="password" [(ngModel)]="this.model.password" placeholder="Password">
    </div>
    <div *ngIf="this.info">
      <p class="text-center alert alert-danger">{{this.info}}</p>
    </div>
    <p class ="text-center"><a [routerLink]="[ '/sendEmail' ]">If you have forgotten your password - reset it here.</a></p>
    <div class="form-group text-center">
      <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
</div>
<br>
