.card {
    border:none;
    height: 90vh;
}
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 10px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9; 
}
.rounded-circle {
    height: 50px;
    width: 50px;
}
.card-body {
    overflow-y: scroll;
    width: 100%;
}
#scroller {
    height: 90vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    list-style: none;
}